.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
body{
  margin:0;
}
.App-title {
  font-size: 1.5em;
}
.Main{
  padding:15px;
}
.Main h1,h2{
  color:#19223D;
}
.Main p{
  color:#454D67;
}

/* Test page styling */

.btn-circle{
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.fa.fa-arrow-circle-right.fa-4x,
.fa.fa-arrow-circle-left.fa-4x{
  color: #00ACF2;
}