
/* Mobile Style for footer in vertical size */
.Footer{
    margin:0 auto;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top:40%;
}
.Footer .fontawesome{
    color: #19223D;
    padding-right:4%;
    margin:0 auto;
}
p:last-child{
    display:none;
}
p:nth-child(1){
    margin-bottom:5%;
}


@media  only screen and (min-width:480px){
    .Footer{
        text-align: center;
        margin:0 auto;
        background-color: #BFC5D2;
        color:#FAFAFA;
        padding: 0;
        width:100%;
        height: 50%;
        padding-top: 2%;
    }
    p:last-child{
        display:block;
    }
    p:nth-child(n){
        margin-bottom:8%;
    }

}

@media  only screen and (min-width:1240px){
    .Footer{
        text-align: center;
        margin:0 auto;
        padding: 0;
        background-color: #BFC5D2;
        padding:10px;
        color:#FAFAFA;
    }
    p:last-child{
        display:block;
    }
    p:nth-child(n){
        margin-bottom:15px;
    }

}