
/* Mobile Style for footer in vertical size */
.Footer{
    margin:0 auto;
    margin-top:40%;
    margin:0 auto;
}

.Footer .fontawesome{
    color: #19223D;
    margin:0 auto;
    margin:7%;
}
p:last-child{
    display:none;
}
p:nth-child(1){
    margin-bottom:5%;
    font-weight: bold;
}


@media  only screen and (min-width:480px){
    .Footer{
        text-align: center;
        background-color: #BFC5D2;
        color:#FAFAFA;
        padding: 0;
        width:100%;
        height: 30%;
        padding-top: 1%;
    }
    .Footer p{
        color:#FAFAFA;
    }
    .Footer .fontawesome{
        margin:0 2% 3% 2%;
    }
    p:last-child{
        display:block;
        font-size:0.8em;
    }
    p:nth-child(n){
        margin-bottom:4%;
    }
}
@media  only screen and (min-width:800px){
    p:nth-child(n){
        margin-bottom:2%;
    }
    p:last-child{
        margin-top:0;
    }
}

@media  only screen and (min-width:1000px){
    .Footer .fontawesome{
        margin:0 1% 3% 1%;
    }  
}
