form {
  width: 17em;
  margin: 0 auto;
}

@media screen and (min-width: 25em) {
  form {
    width: 22em;
    margin: 2em auto 0;
  }
}

label {
  color: #454D67;
  margin: 15px 0 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  color: #788096;
  font-size: 0.9em;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 10px 0 20px;
  padding-left: 20px;
  border-radius: 5px;
  border: 2px solid #EBECF0;
  font-size: 0.9em;
  width: 100%;
  height: 41px
}

select {
  background-color: white;
  background-image: -webkit-linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-image: -moz-linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);  
  background-position: calc(100% - 15px) calc(1em + 3px), calc(100% - 10px) calc(1em + 3px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

input[type="submit"] {
  margin: 0 auto;
  color: #FAFAFA;
  border: 1px solid #00ACF2;
  border-radius: 18px;
  width: 140px;
  height: 40px;
  background-color: #00ACF2;
  margin-bottom: 5px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 1em;
  padding-left: 0;
}