form {
  width: 17em;
  margin: 0 auto;
}

@media screen and (min-width: 25em) {
  form {
    width: 22em;
    margin: 2em auto 0;
  }
}

label {
  color: #454D67;
  margin: 15px 0 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  color: #788096;
  font-size: 0.9em;
}

input, select {
  margin: 10px 0 20px;
  padding-left: 20px;
  border-radius: 5px;
  border: 2px solid #EBECF0;
  font-size: 0.9em;
}

input {
  height: 35px;
}

select {
  height: 41px;
}

select {
  background-color: white;
}

input[type="submit"] {
  margin: 0 auto;
  color: #FAFAFA;
  border: 1px solid #00ACF2;
  border-radius: 18px;
  width: 140px;
  height: 40px;
  background-color: #00ACF2;
  margin-bottom: 5px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 1em;
  padding-left: 0;
}
