

.OptionsPage button{
        margin:0 auto;
        text-decoration: none;
        list-style-type: none;
        color:#FAFAFA;
        border:1px solid #00ACF2;
        border-radius:18px;
        width:180px;
        height:30px;
        background-color: #00ACF2;
        margin-bottom:5px;
        padding:8px 0 1px 18px;
        font-weight: bold;
        text-align: left;
        font-weight: bold;
        font-size:1em;
}