p {
    color: #788096;
    line-height: 1.5;
}

table {
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    text-align: left;
    margin: 2em auto 2.5em;
}

table th {
    background-color: #FAFAFA;
    color: #8B93A7;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: normal;
}

table th,
table td {
    padding: 1.5em;
    border-bottom: 2px solid #EEEEEE;
}

table tr:last-of-type td {
    border-bottom: none;
}


@media screen and (min-width: 77.5em){
    table {
        min-width: 30em;
    }
}
.button{
    width:13em;
}

/* Styling images */
.category-thumbnail,
.category-image {
    object-fit: cover;
}