p {
    color: #788096;
    line-height: 1.5;
}

table {
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    text-align: left;
    margin: 2em auto 2.5em;
}

table th {
    background-color: #FAFAFA;
    color: #8B93A7;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: normal;
}

table th,
table td {
    padding: 1.5em;
    border-bottom: 2px solid #EEEEEE;
}

table tr:last-of-type td {
    border-bottom: none;
}

/* button {
    background-color: #00ACF2;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em 4em 1em 1.3em;
    border-radius: 1.9em;
    margin: 0.5em 0 2em;
    position: relative;
}

button .fontawesome {
    font-size: 1.1em;
    background-color: #009FE3;
    border-radius: 50%;
    padding: 13px 12px 13px 14px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
} */

@media screen and (min-width: 77.5em){
    table {
        min-width: 30em;
    }
}


/* Styling images */
.category-thumbnail,
.category-image {
    object-fit: cover;
}